
.section-home-header {
    display: flex;    
    height: 100px;
    background: black;
    color: white;
    align-items: center;
    justify-content: center;

    span {
        margin: 20px;
    }

    .logo
    {        
        text-transform: uppercase;
    }

    .categories{
    }

    .blog{

    }

    .login{

    }

    .businesses{
        background: blue;
        padding: 10px 20px;
        border-radius: 20px;    
    }  
}

.section-introduce {
    background: #13b57a;
    display: flex;
    justify-content: center;

    .left-content {
        width: 450px;
        margin-right: 100px;
        .text-introduce {

            display: block !important;
            text-transform: capitalize;
            font-size: 40px;
            font-weight: 700;
        }
        .search {
            input {
                position: absolute;
                width: 400px;
                border-radius: 50px;
                height: 50px;
                outline-style: none;
            }
            
            .btn-search {
                position: relative;
                left: 320px;
                top: 10px;
                background: blue;
                color: white;
                padding: 5px 15px;
                border-radius: 30px;
                border: none;
            }

            display: block !important;
        }
    }

    .img-introduce {
        width: 50%;
        background-image: url(../../public/hero-image-s.png);
        height: 600px;
        background-repeat: no-repeat;
    }
}

// .recent-review {
//     width: 100%;
//     justify-content: center;
// }

.section-cate1 {
    background-color: #fcfbf3;
    padding: 20px 100px 0 ;
    
    .cate {
        margin-left: 100px;
        font-weight: 600;
        font-size: 24px;
        
    }
    .view-cate {
        float: right;
        margin-right: 100px;
        font-size: 24px;
        padding: 7px 12px;
        border-radius: 10px;
    }
    .view-cate:hover {
        background-color: #69b869;
        border-style: none;
    }
    .section-cate2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 20px;

        .cate-item {
            display: flex;
            border: 1px solid gray;
            width: 19%;
            align-items: center;
            padding: 30px;
            margin: 30px 0 40px ;
            flex-direction: column;
            border-radius: 20px;
            // width: 100px;

            .cate-icon {
                width: 100px;
            }
            .cate-name {
                padding-top: 10px;
                font-size: 24px;
                font-weight: 600;
            }
        }
    }
}

.section-review {
    padding: 15px;
    // margin: -10px;
    // height: 100px;
    background: #f1f1e8;
    text-align: center;

    .recent-review {
        box-sizing: border-box;
        font-size: 24px;
        font-weight: 700;
    }

    .review-item {
        margin-top: 15px;        
        display: flex;
        flex-direction: column;
        border: 1px solid red;
    }
}

.section-about {
    display: flex;
    background: #022a1c;
    width: 1500px;
    margin:0 auto;

    .left-content {
        display: flex;
        flex-direction: column;
        width: 700px;
        margin: 0 auto;
        color: white;
        font-size: 40px;
        font-weight: 700;
        button {
            margin: 0 auto;
            width: 100px;
            padding: 5px 10px;
            border-radius: 20px;
        }
    }
    .right-content {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        width: 700px;
        color: white;
        font-size: 40px;
        font-weight: 700;
        button {
            margin: 0 auto;
            width: 100px;
            padding: 5px 10px;
            border-radius: 20px;
        }

    }
}

.section-story {
    display: flex;
    height:100px;
    background: green;

    .left-content {
        margin-right: 30px;
    }
    .right-content {

    }
}

.section-footer {
    height:100px;
    background: red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

    .about-cate {
        display: flex;
        flex-direction: column;
    }

    .community-cate {
        display: flex;
        flex-direction: column;
    }

    .follow-cate {
        display: flex;
        flex-direction: column;
    }

    .country-cate {
        display: flex;
        flex-direction: column;
    }
}

.cate-section {
    display: flex;
    // flex-direction: column;
}
.col {
    
}